{% extends 'base.html' %}
{% load static %}
{% block content %}
    <header>
        {% include 'nav.html' %}

    <br><br><br><br><br>
    <div class="container">
        <div class="d-flex flex-column">
            <p class="m-auto" style="font-size: medium; text-align: center">Twoje hasło zostało zresetowane. <br>
                <a href="{% url 'login' %}"><strong>Przejdź do logowania</strong></a>
            </p>
            <br><br><br>
        </div>
    </div>
    </header>

{% endblock %}