{% extends 'base.html' %}
{% load static %}
{% block content %}
    <header>
        {% include 'nav.html' %}

    <br><br><br>
      <div class="slogan container container--90">
        <div class="slogan--item"><br><br><br>
    <form method="POST" class="form-signin">
    {% csrf_token %}
    <br>
	<h1 class="h3 mb-3 font-weight-normal">Resetuj hasło</h1><br>
           <div class="form-group form-group--inline"><br>
    <input name="email" class="form-control" placeholder="Email" type="email" id="id_email" required="true"><br>
    <br><br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Wyślij email aktywacji nowego hasła</button><br><br><br><br>
       <br></div>
        </form>
        </div>
      </div>
  </header>

{% endblock %}