{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">

	<div class="d-flex flex-column">
		  <p class="m-auto p-2" style="font-size: small">
		    Na adres podany przez Ciebie wysłaliśmy email aktywacyjny. Sprawdź skrzynkę odbiorczą.
		  </p>
		  <p class="m-auto p-2" style="font-size: small">
		    Jeśli nie dostałeś emaila sprawdź czy wpisałeś dobry adres mailowy, oraz przejrzyj folder spam.		    and check your spam folder.
		  </p>
        <p class="m-auto p-2" style="font-size: medium"><a href="{% url 'index' %}"><strong>Wróć na stronę główną</strong></a></p>
	</div>
</div>

{% endblock %}