{% extends 'base.html' %}
{% load static %}
{% block content %}
    <header>
        {% include 'nav.html' %}

    <br><br><br>
      <div class="slogan container container--90">
        <div class="slogan--item"><br><br><br>

    {% if validlink %}
        <h1>Resetuj hasło</h1><br>
            <div class="form--steps-counter" style="text-align: center">
            <p>Wpisz nowe hasło dwukrotnie.</p>
            </div>

        <form method="post" class="form-signin">
            {% csrf_token %}
            <div class="form--steps-counter" style="text-align: center">
                {{ form.new_password1.errors }}
                <label for="id_new_password1">Nowe hasło:</label>
                {{ form.new_password1 }}
                <br><br>
                {{ form.new_password2.errors }}
                <label for="id_new_password2">Powtórz hasło:</label>
                {{ form.new_password2 }}
                <br><br>
             </div>

        <div class="form-group form-group--buttons2" style="text-align: center">
      <button type="submit" class="btn prev-step">Zmiana hasła</button></div>
    </form>

    <br><br><br><br>
    {% else %}
    <h2>Link do zmiany hasła nieprawidłowy.</h2>
       <h1>
           Link prawdopodobnie został już użyty.<br>
            Spróbuj zresetować hasło ponownie.
        </h1>
    {% endif %}
</header>

{% endblock %}




