{% extends 'base.html' %}
{% load static %}
{% block content %}
    <header>
        {% include 'nav.html' %}

    <br><br><br>
      <div class="slogan container container--90">
        <div class="slogan--item"><br><br><br>

    {% if validlink %}
    <form method="post" class="form-signin">{% csrf_token %}
    {#<fieldset class="module aligned">#}
        <div class="form-row field-email">
            {{ form.email.errors }}
            <label for="id_email">{% trans 'Email address:' %}</label>
            {{ form.email }}
        </div>
        <input type="submit" value="{% trans 'Reset my password' %}">
    {#</fieldset>#}
    </form>

    {% else %}
    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
    {% endif %}
        </div>
      </div>
    </header>

{% endblock %}
