{% extends 'base.html' %}
{% load static %}
{% block content %}
        <header>
            {% include 'nav.html' %}

<br><br><br>
      <div class="slogan container container--90">
        <div class="slogan--item"><br><br><br>

<div class="container">
	<div class="d-flex flex-column">
		<p class="m-auto" style="font-size: medium">Twoje hasło zostało zresetowane. <br>
            <a href="{% url 'login' %}"><strong>Przejdź do logowania</strong></a></p><br><br><br>
	</div>
</div>
        </div>
      </div>

{% endblock %}