{% extends 'base.html' %}
{% load static %}
{% block content %}
        <header>
    {% include 'nav.html' %}
    </header>

    <section class="login-page">
     {% if msg %} <h2>{{ msg }}</h2>{% else %}<h2>Załóż konto</h2>{% endif %}


          <form action="" method="post"  class="steps">
          {% csrf_token %}
        <div class="form-group">
          <input type="text" name="first_name" placeholder="Imię" />
        </div>
         <div class="form-group">
          <input type="text" name="last_name" placeholder="Nazwisko" />
        </div>
        <div class="form-group">
          <input type="email" name="email" placeholder="Email" />
        </div>
        <div class="form-group">
          <input type="password" name="password1" placeholder="Hasło (min.8znaków)" />
        </div>
        <div class="form-group">
          <input type="password" name="password2" placeholder="Powtórz hasło" />
        </div>

        <div class="form-group form-group--buttons">
          <a href="{% url 'login' %}" class="btn btn--without-border">Zaloguj się</a>
          <button class="btn" type="submit">Załóż konto</button>
        </div>
      </form>
    </section>


  {% endblock %}
