{% extends 'base.html' %}
{% load static %}
{% block content %}
    <header class="header--form-page">
          {% include 'nav.html' %}

    <section class="login-page">
      {% if msg %} <h2>{{ msg }}</h2>{% else %}<h2>Zmień hasło:</h2>{% endif %}
        <br>
         <form action="" method="post">
          {% csrf_token %}
          <div class="form-group">
            {{ form.as_p }}
          <button class="btn" type="submit">Zapisz hasło</button></div>
          </form>

    </section>
    </header>

  {% endblock %}
